# Języki Obiektowe I - Python

**Filip Koźlik** \\
*Informatyka st. II hybrydowo*

**Task 1**
1. load the file teachers.csv, which contains data on the employment of university teachers in Poland in selected years
selected years, broken down by position and gender. Universities and technical schools are further distinguished.
2. prepare the data for further analysis (remove unnecessary rows and columns, pay attention to the type of data).
3. create the following charts:
- summary of academic teachers employed in any position in 2014-2018 by province
- summary of different positions (assistants, adjuncts, professors) employed in 2014-2018 in the province of
śląskie
- summary of academic teachers employed at universities and technical schools by gender
in Silesia province
4. in the data find:
- values for Silesian province
- provinces that employ the most and the least academic teachers
- provinces that employ women above the average

**List o needed imports**
1. Plotly.express - data ploting,
2. Pandas - data manipulation,
3. Typing - Type hints, syntax.

In [1]:
import plotly.express as px
import pandas as pd
from typing import Final, Tuple

# Task 1 and 2

**Data loading and preppering**

In [2]:
TEACHERS_DATA_CSV_PATH: Final[str] = r'/content/nauczyciele.csv'

df: pd.DataFrame = pd.read_csv(TEACHERS_DATA_CSV_PATH, delimiter=';')
df = df.drop(columns = ['Kod', 'Unnamed: 102'])
df = df.iloc[1:,:]
for col in list(df.columns)[1:]:
  df[col] = df[col].apply(lambda x: x.replace(',', '.'))
  df[col] = df[col].astype(float)
df

,Nazwa,nauczyciele akademiccy;ogółem;uniwersytety;2014;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2015;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2016;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2017;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2018;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2014;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2015;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2016;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2017;[osoba],...,asystenci;kobiety;uniwersytety;2014;[osoba],asystenci;kobiety;uniwersytety;2015;[osoba],asystenci;kobiety;uniwersytety;2016;[osoba],asystenci;kobiety;uniwersytety;2017;[osoba],asystenci;kobiety;uniwersytety;2018;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2014;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2015;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2016;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2017;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2018;[osoba]
1,DOLNOŚLĄSKIE,1837.7,1856.7,1884.5,1919.2,1930.9,2003.3,2028.6,2051.7,2080.3,...,28.6,46.6,58.3,66.0,65.7,108.8,108.5,111.5,107.3,99.2
2,KUJAWSKO-POMORSKIE,2689.9,2651.1,2647.4,2721.4,2684.8,0.0,0.0,0.0,0.0,...,272.0,262.7,276.8,311.2,258.8,0.0,0.0,0.0,0.0,0.0
3,LUBELSKIE,2912.0,2770.8,2721.5,2648.5,2578.0,549.0,568.9,587.7,581.8,...,283.0,265.0,269.5,243.5,230.9,42.0,42.0,49.0,47.0,47.0
4,LUBUSKIE,899.0,884.5,920.0,1000.5,982.5,0.0,0.0,0.0,0.0,...,49.0,47.5,54.5,61.0,22.0,0.0,0.0,0.0,0.0,0.0
5,ŁÓDZKIE,2188.2,2159.2,2145.6,2157.7,2135.4,1432.6,1396.4,1368.7,1321.8,...,134.7,133.2,133.5,130.8,121.9,41.5,42.3,31.7,29.3,21.8
6,MAŁOPOLSKIE,3879.4,3932.9,4022.4,4119.2,4120.7,3444.0,3395.2,3382.0,3351.9,...,420.6,440.2,454.7,513.9,513.1,212.3,230.7,231.0,228.6,192.7
7,MAZOWIECKIE,4196.0,4259.0,4303.5,4332.0,4285.4,3055.9,3037.6,3045.2,3033.4,...,147.6,174.8,206.0,229.3,229.1,112.2,108.5,115.0,115.8,124.6
8,OPOLSKIE,696.4,688.7,678.0,687.3,666.1,504.2,512.1,505.0,494.2,...,22.5,21.0,18.0,20.6,15.1,41.6,39.1,35.0,29.0,23.0
9,PODKARPACKIE,1275.8,1290.1,1306.6,1299.0,1253.7,771.0,771.4,777.8,856.0,...,97.2,114.8,127.5,139.5,115.5,56.2,54.8,57.3,72.3,70.3
10,PODLASKIE,776.1,753.8,747.7,760.9,763.3,663.7,648.3,643.7,647.0,...,109.2,111.2,112.0,126.0,132.0,48.8,46.5,44.0,38.5,26.3
11,POMORSKIE,1670.6,1700.5,1685.8,1720.9,1735.4,1220.7,1217.5,1230.0,1247.1,...,102.5,109.3,107.9,123.6,124.3,48.1,51.1,61.5,69.7,70.9
12,ŚLĄSKIE,1940.9,1941.2,1950.4,1930.2,1887.7,3040.3,2983.5,2925.3,2816.8,...,139.0,145.7,151.0,138.5,113.8,106.3,110.1,107.1,99.1,93.7
13,ŚWIĘTOKRZYSKIE,856.0,850.4,872.4,885.1,868.1,474.3,495.9,498.2,480.1,...,48.0,45.0,44.0,47.0,61.0,61.0,74.0,69.0,68.0,5.0
14,WARMIŃSKO-MAZURSKIE,1994.0,1924.1,1908.2,1834.5,1791.8,0.0,0.0,0.0,0.0,...,168.0,161.0,175.9,169.2,134.8,0.0,0.0,0.0,0.0,0.0
15,WIELKOPOLSKIE,2963.9,2918.3,2929.8,2881.9,2843.7,1278.8,1286.0,1274.0,1276.7,...,10.5,13.0,13.5,8.5,5.0,90.8,97.1,101.8,106.5,111.2
16,ZACHODNIOPOMORSKIE,1152.2,1118.9,1114.7,1093.0,1033.3,1521.8,1463.4,1412.6,1343.0,...,124.5,111.0,100.5,87.0,72.3,81.0,61.5,67.3,61.5,51.3

# Task 3.1.

**Extracting Informations for academic teachers**

In [3]:
colleage_teachers: pd.DataFrame = df.filter(regex='nauczyciele akademiccy|Nazwa', axis=1)

**Ploting extracted data using plotly**

In [4]:
propper_cols: list[str] = list([col for col in list(colleage_teachers.columns) if 'nauczyciele' in col])
# Creating summary for propper data handling
summary: pd.DataFrame = colleage_teachers.melt(id_vars=['Nazwa'], value_vars=propper_cols, var_name='Year', value_name='Teachers Amount')

# ploting data using plotly.express
fig = px.bar(summary, x='Nazwa', y='Teachers Amount', color='Year', barmode='group', title='Summary of academic staff 2014-2018')
fig.show()

# Task 3.2.

**Extracting data for:**
1. Assistants,
2. Adjuncts,
3. Professors\
employed in 2014-2018 in the province of Silesia.

In [5]:
def plot_transposed_df(df: pd.DataFrame, title: str) -> None:
  """
  Function that multiplies passed amount of values and return its result.

  Args:
        df (__pd.DataFrame__): DataFrame object to plot.
        title (__str__): Graph title.
        
  Raises:
        TypeError: Occures when provided dataframe is not correct.
  """
  if df.empty:
    raise TypeError('Provided dataframe is empty!')

  # Formatting data to plotly format
  df_transposed: pd.DataFrame = df.transpose()
  df_transposed.columns = ['Values']

  # Creating plotly graph object
  fig = px.bar(df_transposed, x=df_transposed.index, y='Values', title=title)
  fig.show()

In [6]:
# Cleaning and selecting propper data
silesia_academics: pd.DataFrame = df.filter(regex='Nazwa|adiunkci|profesorowie|asystenci', axis=1)
silesia_academics = silesia_academics[silesia_academics['Nazwa'] == 'ŚLĄSKIE']

**Summary of 3.2. using px**

In [7]:
plot_transposed_df(silesia_academics, "Summary of various positions (assistants, assistant professors, professors) employed in 2014-2018 in the province of Silesia")

# Task 3.3.

**Extracting data for task:**\
summary of academic teachers employed at universities and technical schools by gender
in Śląskie voivodship

In [8]:
# Cleaning and selecting propper data
silesia_gender: pd.DataFrame = df.filter(regex='Nazwa|uniwersytety|szkoły techniczne', axis=1)
silesia_gender = df.filter(regex='Nazwa|nauczyciele', axis=1)
silesia_gender = silesia_gender[silesia_gender['Nazwa'] == 'ŚLĄSKIE']

**Plotting data using px**

In [9]:
plot_transposed_df(silesia_gender, "Summary of academic teachers employed at universities and technical schools by genderin Silesia voivodship")

# Task 4.

**Task 4.1.** Values for Silesia voivodship

In [10]:
silesia_df: pd.DataFrame = df[df['Nazwa'] == 'ŚLĄSKIE']
silesia_df

,Nazwa,nauczyciele akademiccy;ogółem;uniwersytety;2014;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2015;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2016;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2017;[osoba],nauczyciele akademiccy;ogółem;uniwersytety;2018;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2014;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2015;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2016;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2017;[osoba],...,asystenci;kobiety;uniwersytety;2014;[osoba],asystenci;kobiety;uniwersytety;2015;[osoba],asystenci;kobiety;uniwersytety;2016;[osoba],asystenci;kobiety;uniwersytety;2017;[osoba],asystenci;kobiety;uniwersytety;2018;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2014;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2015;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2016;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2017;[osoba],asystenci;kobiety;wyższe szkoły techniczne;2018;[osoba]
12,ŚLĄSKIE,1940.9,1941.2,1950.4,1930.2,1887.7,3040.3,2983.5,2925.3,2816.8,...,139.0,145.7,151.0,138.5,113.8,106.3,110.1,107.1,99.1,93.7

**Task 4.2.** Provinces with the most and the least number of university teachers employed

In [11]:
# Decided to count teachers for the latest data - 2018 year
# Searching though data frame
academic_df: pd.DataFrame = df.filter(regex='Nazwa|akademiccy', axis=1)
academic_df = academic_df.filter(regex='Nazwa|2018', axis=1)
# Creating sum
academic_df['Teachers Amount'] = academic_df.select_dtypes(include='number').sum(axis=1)

In [12]:
# Min values of teachers
min_teachers_amount: pd.DataFrame = academic_df.nsmallest(1, 'Teachers Amount')
min_teachers_amount

,Nazwa,nauczyciele akademiccy;ogółem;uniwersytety;2018;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2018;[osoba],nauczyciele akademiccy;kobiety;uniwersytety;2018;[osoba],nauczyciele akademiccy;kobiety;wyższe szkoły techniczne;2018;[osoba],Teachers Amount
4,LUBUSKIE,982.5,0.0,431.5,0.0,1414.0

In [13]:
# Max values of teachers
max_teachers_amount: pd.DataFrame = academic_df.nlargest(1, 'Teachers Amount')
max_teachers_amount

,Nazwa,nauczyciele akademiccy;ogółem;uniwersytety;2018;[osoba],nauczyciele akademiccy;ogółem;wyższe szkoły techniczne;2018;[osoba],nauczyciele akademiccy;kobiety;uniwersytety;2018;[osoba],nauczyciele akademiccy;kobiety;wyższe szkoły techniczne;2018;[osoba],Teachers Amount
6,MAŁOPOLSKIE,4120.7,3246.4,2113.0,1043.8,10523.9

**Task 2**
1. load the file inflation.xlsx, which contains data on the level of inflation in Poland (subsequent binders).
2. Prepare the data for further analysis (remove unnecessary rows and columns, pay attention to the type of data).
3. create the following charts:
- summary of 2017, 2018 and 2019 in relation to December of the previous year (Table 1)
- summary of October of 2017, 2018 and 2019 with respect to the previous month of the year (Table 2)
- summary of 2017, 2018 and 2019 in relation to the corresponding month of the previous year (Table 3)
4. In the data, find:
- the largest and smallest values in each category
- determine the highest values of inflation in each year
- determine the average value of inflation in each year

# Task 1 and 2

In [14]:
INFLATION_DATA_PATH: Final[str] = r'/content/inflacja.xlsx'
excel_file = pd.ExcelFile(INFLATION_DATA_PATH)

In [15]:
def format_inflation(header: int, sheet_name: str, drop_bottom_rows: int) -> pd.DataFrame:
  """
  Function that formats 1st type of inflation to propper dataframe.

  Args:
        header (__int__): Integer amount of header rows.
        sheet_name (__str__): String representation of sheet name.
        drop_bottom_rows (__int__): Amount of rows to cut.
  Returns:
      pd.DataFrame: Propperly formatted inflation of 1st type.
  """
  df: pd.DataFrame = pd.read_excel(excel_file, sheet_name = sheet_name, header=header)
  df = df.drop(columns= ['Unnamed: 0', 'Unnamed: 1'])
  df = df.rename(columns = dict({
    'Unnamed: 2': 'Year',
    'I': 'January',
    'II': 'February',
    'III': 'March',
    'IV': 'April',
    'V': 'May',
    'VI': 'June',
    'VII': 'July',
    'VIII': 'August',
    'IX': 'September',
    'X': 'October',
    'XI': 'November',
    'XII': 'December'
  }))
  df = df.iloc[:-drop_bottom_rows, :]
  df = df.replace('1999a', '1999')
  return df

def melt_inflation(inflation_df: pd.DataFrame) -> pd.DataFrame:
  """
  Function  to melt inflation to propper plotly express format, formatting year and month columns as date.

  Args:
    inflation_df (__pd.DataFrame__): DataFrame of inflation data.

  Returns: 
    pd.DataFrame: Melted dataframe.
  """
  inflation_df = pd.melt(inflation_df, id_vars=['Year'], var_name='Month', value_name='Value')
  inflation_df['Data'] = pd.to_datetime(inflation_df['Year'].astype(str) + '-' + inflation_df['Month'], format='%Y-%B')
  return inflation_df

In [16]:
inflation_df: pd.DataFrame = format_inflation(6, 'Table 1', 2)
inflation_df = melt_inflation(inflation_df)
inflation_df

     Year     Month  Value       Data
0    2019   January   99.8 2019-01-01
1    2018   January  100.3 2018-01-01
2    2017   January  100.4 2017-01-01
3    2016   January   99.5 2016-01-01
4    2015   January   99.8 2015-01-01
..    ...       ...    ...        ...
391  1991  December  160.4 1991-12-01
392  1990  December  349.3 1990-12-01
393  1989  December  739.6 1989-12-01
394  1988  December  173.9 1988-12-01
395  1987  December  131.3 1987-12-01

[396 rows x 4 columns]

# Task 3

**Task 3.1.** Summary of 2017, 2018 and 2019 in relation to december of the previous year

In [17]:
def plot_summary_inflation(df: pd.DataFrame, title: str) -> None:
    """
    Function to create graph summary for inflation data.
    Args:
      df (__pd.DataFrame__): DataFrame melted object.
      title (__str__): String representation of graph title.
    """
    if not df.empty:
      df["Month"] = pd.to_datetime(df["Data"]).dt.month
      fig = px.line(df, x="Data", y="Value", color="Month", title=title)
      fig.show()
    else:
      raise TypeError('Invalid dataframe format!')

In [18]:
filtered_inflation_df: pd.DataFrame = inflation_df[inflation_df['Data'] >= '2017-01-01']
filtered_inflation_df = filtered_inflation_df.iloc[:, 2:]

In [19]:
plot_summary_inflation(filtered_inflation_df, "Summary of 2017, 2018 and 2019 in relation to december of the previous year")

**Task 3.2.**

**Data prep**

In [20]:
def prep_inflation_v2(sheet_name: str, to_drop_text: str, drop_rows:int) -> pd.DataFrame:
  """
  Function that formats 2nd type of inflation to propper dataframe.

  Args:
        drop_rows (__int__): Integer amount of header rows.
        sheet_name (__str__): String representation of sheet name.
        drop_rows (__int__): Amount of rows to cut.
  Retruns:
        pd.DataFrame: Propperly formatted inflation of 2nd type.
  """
  df: pd.DataFrame = pd.read_excel(excel_file, sheet_name=sheet_name)
  df = df.drop(columns = [to_drop_text])
  df.columns = list(['Year', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])
  df = df.replace('1999a', '1999')
  df = df.iloc[:-drop_rows, :]
  return df

In [21]:
previous_month_inflation = prep_inflation_v2('Table 2', 'Analogiczny miesiąc poprzedniego roku = 100', 2)
previous_month_inflation_melted= melt_inflation(previous_month_inflation)
previous_month_inflation_melted: pd.DataFrame = previous_month_inflation_melted[previous_month_inflation_melted['Data'] >= '2017-01-01']
previous_month_inflation_melted = previous_month_inflation_melted.iloc[:, 2:]

In [22]:
plot_summary_inflation(previous_month_inflation_melted, "Summary of 2017, 2018 and 2019 with respect to the previous month of the year")

**Task 3.3.**

In [23]:
same_month_previouse_year: pd.DataFrame = prep_inflation_v2('Table 3', 'Analogiczny okres narastający poprzedniego roku = 100', 9)
same_month_previouse_year= melt_inflation(same_month_previouse_year)
same_month_previouse_year_melted: pd.DataFrame = same_month_previouse_year[same_month_previouse_year['Data'] >= '2017-01-01']
same_month_previouse_year_melted = same_month_previouse_year_melted.iloc[:, 2:]

In [24]:
plot_summary_inflation(same_month_previouse_year_melted, "Summary of 2017, 2018 and 2019 in relation to the corresponding month of the previous year")

# Task 4

**Task 4.1.** Find largest and smallest value for each category.

In [25]:
def find_max_min_inflation_value(df: pd.DataFrame, category: str) -> None:
  min_row: pd.Series = df.nsmallest(1, 'Value')
  max_row: pd.Series = df.nlargest(1, 'Value')
  print(f'MIN VALUE FOR CATEGORY: {category}')
  print(min_row)
  print(f'MAX VALUE FOR CATEGORY: {category}')
  print(max_row)
  print('\n')

In [26]:
# Table 1 type
type_one_inflation: pd.DataFrame = format_inflation(6, 'Table 1', 2)
type_one_inflation = melt_inflation(type_one_inflation)
find_max_min_inflation_value(type_one_inflation, 'December of previous year')
# Table 2 type
type_two_inflation = prep_inflation_v2('Table 2', 'Analogiczny miesiąc poprzedniego roku = 100', 2)
type_two_inflation= melt_inflation(type_two_inflation)
type_two_inflation = type_two_inflation.iloc[:, 2:]
type_two_inflation['Value'] = type_two_inflation['Value'].astype(float)
find_max_min_inflation_value(type_two_inflation, 'Same month of previous year')
# Table 3 type
type_three_inflation: pd.DataFrame = prep_inflation_v2('Table 3', 'Analogiczny okres narastający poprzedniego roku = 100', 9)
type_three_inflation= melt_inflation(type_three_inflation)
type_three_inflation = type_three_inflation.iloc[:, 2:]
type_three_inflation['Value'] = type_three_inflation['Value'].astype(float)
find_max_min_inflation_value(type_three_inflation, 'The analogous cumulative period of the previous year')

MIN VALUE FOR CATEGORY: December of previous year
     Year     Month  Value       Data
368  2014  December   99.0 2014-12-01
MAX VALUE FOR CATEGORY: December of previous year
     Year     Month  Value       Data
393  1989  December  739.6 1989-12-01


MIN VALUE FOR CATEGORY: Same month of previous year
    Value       Data
40   98.4 2015-02-01
MAX VALUE FOR CATEGORY: Same month of previous year
     Value       Data
65  1283.1 1990-02-01


MIN VALUE FOR CATEGORY: The analogous cumulative period of the previous year
    Value       Data
35   98.5 2015-02-01
MAX VALUE FOR CATEGORY: The analogous cumulative period of the previous year
     Value       Data
92  1210.7 1990-03-01

**Task 4.2.**

In [27]:
def find_largest_value_for_each_year(df: pd.DataFrame, category: str) -> None:
  """
  Function to calculate max values for each year in data frame.
  Args:
    df (__pd.DataFrame__): DataFrame of given category.
    categor (__str__): String representation of category to propper print message.
  """
  print(f'Max values of inflation for each year for category: {category}')
  df['Year'] = df['Data'].dt.year
  df_max = df.groupby('Year')['Value'].max()
  print(df_max)

In [28]:
find_largest_value_for_each_year(type_one_inflation, 'December of previous year')

Max values of inflation for each year for category: December of previous year
Year
1987    131.3
1988    173.9
1989    739.6
1990    349.3
1991    160.4
1992    144.3
1993    137.6
1994    129.5
1995    121.6
1996    118.5
1997    113.2
1998    108.6
1999    109.8
2000    108.5
2001    103.6
2002    101.7
2003    101.7
2004    104.4
2005    101.1
2006    101.6
2007    104.0
2008    103.4
2009    103.5
2010    103.1
2011    104.6
2012    102.6
2013    100.8
2014    100.3
2015    100.3
2016    100.8
2017    102.1
2018    101.1
2019    102.4
Name: Value, dtype: float64

In [29]:
find_largest_value_for_each_year(type_two_inflation, 'Same month of previous year')

Max values of inflation for each year for category: Same month of previous year
Year
1982     214.9
1983     167.3
1984     115.6
1985     116.7
1986     120.5
1987     131.3
1988     173.9
1989     739.6
1990    1283.1
1991     194.9
1992     146.5
1993     139.7
1994     136.1
1995     133.6
1996     121.0
1997     117.8
1998     114.2
1999     109.8
2000     111.6
2001     107.4
2002     103.5
2003     101.7
2004     104.6
2005     103.7
2006     101.6
2007     104.0
2008     104.8
2009     104.0
2010     103.5
2011     105.0
2012     104.3
2013     101.7
2014     100.7
2015      99.5
2016     100.8
2017     102.5
2018     102.0
Name: Value, dtype: float64

In [30]:
find_largest_value_for_each_year(type_three_inflation, 'The analogous cumulative period of the previous year')

Max values of inflation for each year for category: The analogous cumulative period of the previous year
Year
1987     125.2
1988     160.2
1989     351.1
1990    1210.7
1991     194.9
1992     145.4
1993     139.0
1994     132.5
1995     133.0
1996     121.0
1997     117.8
1998     113.9
1999     107.3
2000     110.4
2001     107.4
2002     103.4
2003     100.8
2004     103.5
2005     103.7
2006     101.0
2007     102.5
2008     104.4
2009     103.5
2010     103.5
2011     104.3
2012     104.2
2013     101.7
2014     100.6
2015      99.1
2016      99.4
2017     102.0
2018     101.9
Name: Value, dtype: float64

**Task 4.3.**

In [31]:
def find_average_for_each_year(df: pd.DataFrame, category: str) -> None:
  """
  Function to calculate average values for each year in data frame.
  Args:
    df (__pd.DataFrame__): DataFrame of given category.
    categor (__str__): String representation of category to propper print message.
  """
  print(f'Average values of inflation for each year for category: {category}')
  df['Year'] = df['Data'].dt.year
  average = df.groupby('Year')['Value'].mean()
  print(average)

In [32]:
find_average_for_each_year(type_one_inflation, 'December of previous year')

Average values of inflation for each year for category: December of previous year
Year
1987    118.783333
1988    144.175000
1989    287.741667
1990    272.491667
1991    137.591667
1992    124.675000
1993    118.175000
1994    114.400000
1995    113.033333
1996    111.158333
1997    107.850000
1998    106.458333
1999    105.216667
2000    105.491667
2001    102.500000
2002    100.933333
2003    100.841667
2004    102.650000
2005    100.525000
2006    101.000000
2007    102.058333
2008    102.375000
2009    102.758333
2010    101.875000
2011    102.916667
2012    101.958333
2013    100.466667
2014     99.791667
2015     99.883333
2016     99.841667
2017    100.991667
2018    100.608333
2019    101.520000
Name: Value, dtype: float64

In [33]:
find_average_for_each_year(type_two_inflation, 'Same month of previous year')

Average values of inflation for each year for category: Same month of previous year
Year
1982    200.441667
1983    126.025000
1984    113.091667
1985    113.900000
1986    117.433333
1987    125.275000
1988    157.166667
1989    324.308333
1990    912.150000
1991    171.566667
1992    142.850000
1993    135.475000
1994    132.191667
1995    128.125000
1996    119.908333
1997    114.950000
1998    111.866667
1999    107.258333
2000    110.091667
2001    105.475000
2002    101.941667
2003    100.841667
2004    103.491667
2005    102.133333
2006    101.033333
2007    102.491667
2008    104.216667
2009    103.450000
2010    102.583333
2011    104.266667
2012    103.700000
2013    100.900000
2014     99.975000
2015     99.066667
2016     99.416667
2017    101.975000
2018    101.666667
Name: Value, dtype: float64

In [34]:
find_average_for_each_year(type_three_inflation, 'The analogous cumulative period of the previous year')

Average values of inflation for each year for category: The analogous cumulative period of the previous year
Year
1987     121.700000
1988     148.583333
1989     215.125000
1990    1064.241667
1991     178.416667
1992     142.075000
1993     137.050000
1994     131.641667
1995     131.175000
1996     120.341667
1997     116.183333
1998     113.141667
1999     106.550000
2000     110.225000
2001     106.425000
2002     102.708333
2003     100.550000
2004     102.533333
2005     102.908333
2006     100.766667
2007     102.091667
2008     104.216667
2009     103.383333
2010     102.750000
2011     104.058333
2012     103.991667
2013     101.091667
2014     100.350000
2015      98.783333
2016      99.150000
2017     101.933333
2018     101.650000
Name: Value, dtype: float64